<h1>New user</h1>

<h2>Details</h2>
<p class="text-info">Please fill in following details: </p>
<%= render 'form' %>

<h2>Navigation</h2>
<%= link_to 'Back', users_path, {:class => "btn btn-default"} %>
