<h1>WordList Client</h1>
<div class="menu">
  {{#link-to 'users'}}Users{{/link-to}}
  {{#link-to 'flags'}}Flags{{/link-to}}
  {{#link-to 'words'}}Words{{/link-to}}
  {{#link-to 'dictionaries'}}Dictionaries{{/link-to}}
</div>

<div class="menu">
  {{#if session.isAuthenticated}}
    {{#link-to 'flags'}}Flags{{/link-to}}
    <button {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>

<div class="main">
  {{outlet}}
</div>

