<h1>Editing flag</h1>

<h2>Details</h2>
<p>Please make changes here: </p>
<%= render 'form' %>

<h2>Navigation</h2>
<%= link_to 'Show', @flag, {:class => "btn btn-default"} %> |
<%= link_to 'Back', flags_path, {:class => "btn btn-default"} %>
