<div>
  <%= link_to 'CL', ajax_promote_flag_word_path(:id => word.id, :flag_name => 'CL', :dir => 'up'), {:class => "icon-arrow-up", :remote => true} %>
  <%= link_to 'CL', ajax_promote_flag_word_path(:id => word.id, :flag_name => 'CL', :dir => 'down'), {:class => "icon-arrow-down", :remote => true} %>
  <!--<%= link_to 'CP', ajax_promote_flag_word_path(:id => word.id, :flag_name => 'CP', :dir => 'up'), {:class => "icon-arrow-up", :remote => true} %>-->
  <!--<%= link_to 'CP', ajax_promote_flag_word_path(:id => word.id, :flag_name => 'CP', :dir => 'down'), {:class => "icon-arrow-down", :remote => true} %>-->
</div>
