<h1>Editing word</h1>

<h2>Details</h2>
<p>Please make changes here: </p>
<%= render 'form' %>

<h2>Navigation</h2>
<%= link_to 'Show', @word, {:class => "btn btn-default"}  %> |
<%= link_to 'Back', words_path, {:class => "btn btn-default"}  %>
